.addon-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.addon-success:hover,.addon-success:focus,.addon-success:active,.addon-success.active {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.item-preview {
    height: 64px;
}

.searchString {
    /* max-width will be overwritenm via JS */
    max-width: 1000px;
    min-width: 100%;
    transition: width 100ms linear;
}

.ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 400px;
}

.form-control.has-error {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.form-control.has-error:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}