<html>

<head>
  <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" />
  
  <script type="text/javascript" src="js/lib/jquery-2.1.1.min.js"></script>

</head>

<body>
  {% include 'includes/navbar.twig' %}

  <div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>BLAK</h1>
      <p>I don't really know what to write here, but Shrykull might want to replace it...</p>
    </div>

  </div>
  <!-- /container -->
</body>

</html>